# Gradle files
.gradle/
.gradle
build/
/build
/captures
captures/

# Local configuration
local.properties
/local.properties

# Log/OS Files
*.log
.DS_Store

# Android Studio
.externalNativeBuild/
.externalNativeBuild
.cxx/
.cxx
*.aab
*.apk
output-metadata.json
*.hprof

# IntelliJ/Android Studio
*.iml
.idea/
/.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore files
*.jks
*.keystore


#Mac files
*.DS_Store